


"background-color": (
      property: background-color,
      class: bg,
      values: map-merge(
        $theme-colors,
        (
          "body": $body-bg,
          "white": $white,
          "transparent": transparent
        )
      )
    ),








  p1 {
    font-family:'Roboto', sans-serif
    width: 5px;
  padding: 5px;
  margin: 5px;v

 

  }

 
    

    

    .foto1 { padding: 10px; margin: 10px; float: left; width: 80px; }
